{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>{{ company.name }} detail</title>
{% endblock title %}

{% block content %}

    <div class="container">
        <h2>&nbsp;{{ company.name|title }} detail</h2>
        <div class="row">
            <div class="col-6">
                <div class="card m-2">
                    <div class="card-body">
                        <div class="col d-flex">
                            <h5 class="card-title my-auto">{{ company.name|upper }}</h5>
                        </div>
                        <div class="col">
                            <p class="card-text">
                                {{ company.industry }}
                                <br>
                                {% if company.website %}
                                    <a href="{{ company.website }}" target="_blank">{{ company.website }}</a>
                                {% else %}
                                    <span>No website</span>
                                {% endif %}
                                <br>
                                vat id: {{ company.vat_id }}<br>
                                city: {{ company.city }}<br>
                                address: {{ company.address }}<br>
                                zip_code: {{ company.zip_code }}<br>
                                country: {{ company.country }}<br>
                                notes: {{ company.notes }}
                                <br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock content %}