{% extends 'base.html' %}
{% load static %}

{%block title %}
    <title>ERP Home Page</title>
{% endblock title %}

{% block content %}
    
    <div class="container">

        <h1 class="mb-4">{{ user.username|title }}, here's the available filters</h1>
        <div class="row">
            <div class="col-6">
                <div class"btn-group">
                    <a href="{% url 'erp_core:invoice_active' %}"
                        <button class="btn btn-info text-light mb-3">All active invoices</button>
                    </a>

                    <a href="{% url 'erp_core:invoice_passive' %}"
                        <button class="btn btn-info text-light mb-3">All passive invoices</button>
                    </a>

                    <a href="{% url 'erp_core:payment_active' %}"
                        <button class="btn btn-info text-light mb-3">All active payments</button>
                    </a>

                    <a href="{% url 'erp_core:payment_passive' %}"
                        <button class="btn btn-info text-light mb-3">All passive payments</button>
                    </a>

                    <a href="{% url 'erp_core:check_active' %}"
                        <button class="btn btn-info text-light mb-3">Active credit check</button>
                    </a>

                    <a href="{% url 'erp_core:check_passive' %}"
                        <button class="btn btn-info text-light mb-3">Passive credit check</button>
                    </a>

                    <a href="{% url 'erp_core:invoice_active_overdue' %}"
                        <button class="btn btn-info text-light mb-3">Overdue active invoices</button>
                    </a>

                    <a href="{% url 'erp_core:invoice_passive_overdue' %}"
                        <button class="btn btn-info text-light mb-3">Overdue passive invoices</button>
                    </a>

                </div>
                <div class="col">
           
                            
                    </div>
            </div>
        </div>
    </div>

{% endblock content %}