{% extends 'base.html' %}
{% load static %}

{%block title %}
    <title>Here to help!</title>
{% endblock title %}

{% block content %}

<div class="container">
    <div class="row align-items-start">
        <div class="col">
            <h2>Welcome to sERPent</h2>
            <h3>A full-Python ERP prototype</h3>
            <p>
                This is an ERP template entirely made with Django.<br>
                Here's you have a <a href="{% url 'erp_core:feature' %}">list</a> of all the features.<br>
                Template has been made by <a title="Github profile" href="https://github.com/carloocchiena" target="_blank">Carlo Occhiena</a>.<br>
                Do you need help? (this is not a real email, just for template purpose!)<br>
                <a title="Send an email" href="mailto:helpmail@mail.com">Contact me</a><br>
            </p>
    </div>    
</div>

{% endblock content %}
