{% extends 'base.html' %}
{% load static %}

{%block title %}
    <title>ERP Home Page</title>
{% endblock title %}

{% block content %}
    
    <div class="container">

        <h1 class="mb-4">Hey, {{ user.username }}, what do you want to do?</h1>
        <div class="row">
            <div class="col-6">
                <div class"btn-group">
                    <a href="{% url 'erp_core:company_create' %}"
                        <button class="btn btn-info text-light">Add a new company</button>
                    </a>

                    <a href="{% url 'erp_core:invoice_create' %}"
                        <button class="btn btn-info text-light">Add a new invoice</button>
                    </a>

                    <a href="http://127.0.0.1:8000/admin/"
                        <button class="btn btn-info text-light">TEMP ADMIN</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}