{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>{{ product.name }} detail</title>
{% endblock title %}

{% block content %}

    <div class="container">
        <h2>&nbsp;{{ product.name|title }} detail</h2>
        <div class="row">
            <div class="col-6">
                <div class="card m-2">
                    <div class="card-body">
                        <div class="col d-flex">
                            <h5 class="card-title my-auto">{{ product.name|upper }}</h5>
                        </div>
                        <div class="col">
                            <p class="card-text">
                                
                                description: {{ product.description }}<br>
                                quantity: {{ product.quantity }}<br>
                                refill: {{ product.refill }}
                                <br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock content %}